body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}


h1 {
    font-size: 40px;

}

.colour {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experienceTime {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;

}

#fullStack {
    border-left: 7px solid tomato;
}

#babyWeb {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}